@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", 'Times New Roman', Times, serif;

}


header, footer {
    background-color: #1F2937;
}
header{
    padding: 10px 150px;

}
.nav-container{
    display: flex;
}
.nav-container > * {
    flex:1;
    
}
ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

li {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.hero{
    padding:10px;
    color: #F9FAF8;
    display: flex;
    margin: 70px 0px;
}
.hero h1{
    font-size: 48px;
    margin-left: 10px;
}
.hero p{
    color: #E5E7EB;
    font-size: 18px;
    padding:10px;
    margin-bottom: 5px;
}

button{
    background-color: #3882F6;
    padding: 10px;
    width: 100px;
    border-radius: 4px;
    border: none;
    margin-left: 10px;
}

.hero_right_img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid red; */
    max-height: max-content;
    background-color: gray;

}
.hero_right_img p{
    width:400px;
    height:300px;
    font-size: 10px;
    text-align: center;


}
/* mid section */
.mid_section{
    padding: 50px 170px;
    text-align: center;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.container > *{
    margin-top: 15px;
   
}
.items p {

    max-width: 150px;
    font-size: 18px;
}
.items img{
    border:2px solid #3882F6;
    border-radius: 10px;
}

/* quote section  */
article {

    background-color: #E5E7EB;
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
    padding: 50px 170px;
}
#author{
    text-align: end;
    font-style: normal;
    font-weight: 900;
    padding-right: 40px;
}

/* cta  */
.cta {
    /* border: 2px solid blue; */
    background-color: #3882F6;
    display: flex;
    color: white;
    margin: 10px 150px;
    padding: 40px 50px;
    border-radius: 10px;
}

.cta > * {
    flex: 1;
}
.cta .left-cta{
    
    flex-grow: 2;
    padding:10px;
}
.cta .left-cta h3{
    font-weight: bold;
    margin-bottom: 5px;;

}

.button-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
}
#signup{
    border: 2px solid white;
    margin: auto;
    color: white;
}

/* @media only screen and (max-width: 768px) {
    body{
        margin:0;
        padding:0;
        font-size: 10px;
    }
   .nav-container .hero{
    border:1px dotted white;
    flex-direction: column;
    padding:0;
   }
  } */