*{
    margin: 0;
    padding: 0;
    font-family: "roboto", 'Times New Roman', Times, serif;

}
body{
    /* padding: 10px 50px; */
    border: 2px dotted red;
}

header, footer {
    background-color: #1F2937;
}
header{
    padding: 10px 150px;
}
.nav-container{
    border: 1px dotted white;
    display: flex;
}
.nav-container > * {
    flex:1;
    
}
ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
/* ul li {
    flex: 1;
} */

li {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.hero{
    padding: 20px;
    color: #F9FAF8;
    border: 1px dotted white;
    display: flex;
    margin-top: 70px;
}
.hero h1{
    font-size: 48px;
}
.hero p{
    color: #E5E7EB;
    font-size: 18px;
}

button{
    background-color: #3882F6;
    padding: 10px;
    width: 100px;
    border-radius: 4px;
    border: none;
}

/* mid section */
.mid_section{
    border: 2px dotted blue;
    padding: 10px 150px;
    text-align: center;
}
.container {
    display: flex;
    align-items: center;


}
.container > *{
    border: 2px dotted blue;
   
}